*.ps
*.tmp
__pycache__/
/__pycache__/
*.pyc
.pytest_cache/
/.pytest_cache/
venv/
.idea/
uceni_soubory/pisne/
cycling_calendar/counting_backwards_2016/*.json
cycling_calendar/counting_backwards_2016/calendar_access.py
