*.ps
*.tmp
**__pycache__**
__pycache__/
*.pyc
.pytest_cache/
/.pytest_cache/
venv/
bin/
lib/
lib64
pyvenv.cfg
share/
.idea/
uceni_soubory/pisne/
cycling_calendar/*/*.json
cycling_calendar/*/calendar_access.py
uceni_OOP/cviceni_oop_lekce4/
uceni_OOP/cviceni_oop_lekce5-8/
uceni_OOP/oop_cviceni_lekce9/
uceni_OOP/magic_metods_3.py
uceni_OOP/oop_cviceni_lekce10_13/
email_access.py
humansize.py
web/geckodriver*
dive_into_python/out.log*
app.db
sqlworkshop/students
web/path_to_geckodriver.py


