*.ps
*.tmp
**__pycache__**
__pycache__/
*.pyc
.pytest_cache/
/.pytest_cache/
venv/
.idea/
uceni_soubory/pisne/
cycling_calendar/*/*.json
cycling_calendar/*/calendar_access.py
uceni_OOP_ITNetwork/cviceni_oop_lekce4/
uceni_OOP_ITNetwork/cviceni_oop_lekce5-8/
uceni_OOP_ITNetwork/oop_cviceni_lekce9/

